# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
file = ("../WeatherPy/WeatherPy_data.csv")
weather_df = pd.read_csv(file)
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Husavik,66.0449,-17.3389,32.00,93,0,3.44,IS,1619570374
1,1,Chokurdakh,70.6333,147.9167,28.63,93,100,4.56,RU,1619570374
2,2,Punta Arenas,-53.1500,-70.9167,42.80,87,90,10.36,CL,1619570261
3,3,Vaini,-21.2000,-175.2000,75.20,83,75,17.27,TO,1619570375
4,4,Hobart,-42.8794,147.3294,63.00,67,75,9.22,AU,1619570249
...,...,...,...,...,...,...,...,...,...,...
568,568,Beringovskiy,63.0500,179.3167,33.35,98,100,4.50,RU,1619570584
569,569,Taoudenni,22.6783,-3.9836,90.66,16,23,9.15,ML,1619570584
570,570,Aksu,41.1231,80.2644,62.53,22,0,2.26,CN,1619570351
571,571,Twentynine Palms,34.1356,-116.0542,64.40,34,90,21.85,US,1619570585
572,572,Doha,25.2867,51.5333,84.20,69,0,5.75,QA,1619570585

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [23]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"].astype(float)
# Create a poverty Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius = 1)
# Add layer
fig.add_layer(heat_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
# Ideal vacation spots
# max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

new_df = weather_df
new_df = new_df[new_df["Max Temp"] >= 70]
new_df = new_df[new_df["Max Temp"] <= 80]  
new_df = new_df[new_df["Wind Speed"] <= 10]
new_df = new_df[new_df["Cloudiness"] == 0]
new_df = new_df.dropna()
new_df = new_df.reset_index()
new_df

,index,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,66,66,Verāval,20.9000,70.3667,79.72,77,0,10.00,IN,1619570396
1,90,90,Awjilah,29.1081,21.2869,73.99,20,0,10.00,LY,1619570405
2,131,131,Iranshahr,27.2025,60.6848,77.00,19,0,0.60,IR,1619570421
3,168,168,São Filipe,14.8961,-24.4956,72.64,76,0,7.76,CV,1619570434
4,207,207,Port Hedland,-20.3167,118.5667,78.80,24,0,8.05,AU,1619570448
5,238,238,Beloha,-25.1667,45.0500,71.26,65,0,6.20,MG,1619570460
6,254,254,Cayenne,4.9333,-52.3333,75.00,100,0,5.37,GF,1619570466
7,374,374,Aswān,24.0934,32.9070,73.51,16,0,9.26,EG,1619570511
8,376,376,Le Vauclin,14.5452,-60.8388,77.00,78,0,4.61,MQ,1619570512
9,554,554,Umluj,25.0213,37.2685,76.39,64,0,7.52,SA,1619570579

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df = new_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,66,Verāval,20.9000,70.3667,79.72,77,0,10.00,IN,1619570396,NaN
1,90,Awjilah,29.1081,21.2869,73.99,20,0,10.00,LY,1619570405,NaN
2,131,Iranshahr,27.2025,60.6848,77.00,19,0,0.60,IR,1619570421,NaN
3,168,São Filipe,14.8961,-24.4956,72.64,76,0,7.76,CV,1619570434,NaN
4,207,Port Hedland,-20.3167,118.5667,78.80,24,0,8.05,AU,1619570448,NaN
5,238,Beloha,-25.1667,45.0500,71.26,65,0,6.20,MG,1619570460,NaN
6,254,Cayenne,4.9333,-52.3333,75.00,100,0,5.37,GF,1619570466,NaN
7,374,Aswān,24.0934,32.9070,73.51,16,0,9.26,EG,1619570511,NaN
8,376,Le Vauclin,14.5452,-60.8388,77.00,78,0,4.61,MQ,1619570512,NaN
9,554,Umluj,25.0213,37.2685,76.39,64,0,7.52,SA,1619570579,NaN

In [20]:
#Activity 6.3.4 Nearest Rest for reference
#Find closest hotel within 5000 meters

hotels = []
x = 0

# for loop to search through city coords
for cities in hotel_df["City"]:
    coordinates = str(hotel_df["Lat"][x])+" , "+str(hotel_df["Lng"][x])
    x+=1
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    params = {
    "location": coordinates,
    "radius": 5000,
    "type": "lodging",
    "key": g_key
    }
   
    try:
        response = requests.get(base_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results["results"][0]["name"])
        
    except (KeyError, IndexError):
        hotels.append(np.nan)

hotel_df["Hotel Name"] = hotels
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,66,Verāval,20.9000,70.3667,79.72,77,0,10.00,IN,1619570396,Lords Inn Somnath
1,90,Awjilah,29.1081,21.2869,73.99,20,0,10.00,LY,1619570405,NaN
2,131,Iranshahr,27.2025,60.6848,77.00,19,0,0.60,IR,1619570421,پلکه بزرگ
3,168,São Filipe,14.8961,-24.4956,72.64,76,0,7.76,CV,1619570434,Tortuga B&B
4,207,Port Hedland,-20.3167,118.5667,78.80,24,0,8.05,AU,1619570448,The Esplanade Hotel
5,238,Beloha,-25.1667,45.0500,71.26,65,0,6.20,MG,1619570460,NaN
6,254,Cayenne,4.9333,-52.3333,75.00,100,0,5.37,GF,1619570466,Hôtel Le Dronmi
7,374,Aswān,24.0934,32.9070,73.51,16,0,9.26,EG,1619570511,Nuba Nile
8,376,Le Vauclin,14.5452,-60.8388,77.00,78,0,4.61,MQ,1619570512,Hôtel Cap Macabou
9,554,Umluj,25.0213,37.2685,76.39,64,0,7.52,SA,1619570579,Moon light Furnished Units

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))